extends layout.pug

block content
  main
    div
      h1= title
      section
        form(method='GET' action='/catalog')
          input(type='search' name='search' placeholder='Search')
          button(type='submit') Search

    div
      ul
        each game in games
          li: a(href='/catalog/games/' + game.id)= game.title
      
