extends layout.pug

block content
  main
    div
      h1.title= title
      div
        form(method='GET' action='/developers')
          div.searchContainer
            input(type='search' name='search' placeholder='Search developer')
            button(type='submit') Search

    div
      ul.recordList
        if developers.length > 0
          each dev in developers
            li: a(href=`/developers/${dev.id}/games`)= dev.name
        else
          li No results were found :(
      if totalPages > 1
        include includes/paginationControl.pug
