extends layout.pug

block content
  main
    div
      h1.title= title
      div
        include includes/searchBar.pug

    div
      ul.recordList
        each dev in developers
          li: a(href=`/developers/${dev.id}/games`)= dev.name
      if totalPages > 1
        include includes/paginationControl.pug
