extends layout.pug

block content
  main
    div
      h1= title
      section
        form(method='GET' action='/catalog/developers')
          input(type='search' placeholder='Search')
          button(type='submit') Search

    div
      ul
        each dev in developers
          li: a(href=`/developers/${dev.id}/games`)= dev.name
