extends layout.pug

block content
  main
    h1 Delete #{game.name}
    p Are you sure you want to delete this game?
    form(method='post' action='/games/delete')
      input(type='hidden' name='id' value= game.id)
      button(type='submit') Confirm
