extends layout.pug

block content
  div
    h1= game.title
    ul
      each genre in genres
        li: a(href='/catalog/genres/' + genre.id)= genre.name
    ul
      each dev in developers
        li: a(href='/catalog/developers/' + dev.id)= dev.name
    h2 Summary
    p= game.description
    if game.release_date
      p Release Date: #{game.release_date.toDateString()}
    a(href='/catalog/update/' + game.id) Edit Game
