extends layout.pug

block content
  main
    div
      h1= title
      section
        form(method='GET' action='/catalog/genres')
          input(type='search' placeholder='Search')
          button(type='submit') Search

    div
      ul
        each genre in genres
          li: a(href='/catalog/genres/' + genre.id)= genre.name
