extends layout.pug

block content
  main
    div
      h1.title= title
      div
        form(method='GET' action='/genres')
          div.searchContainer
            input(type='search' name='search' placeholder='Search genre')
            button(type='submit') Search

    div
      ul.recordList
        if genres.length > 0
          each genre in genres
            li: a(href=`/genres/${genre.id}/games`)= genre.name
        else
          li No results were found :(
      if totalPages > 1
        include includes/paginationControl.pug
