extends layout.pug

block content
  main
    div
      h1.title= title
      div
        include includes/searchBar.pug

    div
      ul.recordList
        each genre in genres
          li: a(href=`/genres/${genre.id}/games`)= genre.name
