doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width' initial-scale=1)

  body
    aside
      div Inventory App
      nav
        ul
          li: a(href='/catalog/games') Games
          li: a(href='/catalog/developers') Developers
          li: a(href='/catalog/genres') Genres
          li: a(href='catalog/game/create') Add Game
          li: a(href='catalog/developer/create') Add Developer
          li: a(href='catalog/genre/create') Add Genre
    
    block content
